body {
  width: 100%;
  background-color: #e5decd;
  color: #918878;
}

#main {
  display: flex;
  justify-content: flex-start;
  margin: 60px 20px 30px 20px;
}

#about {
  border-right: solid 1px #918878;
  flex-shrink: 3;
  overflow: hidden;
  padding: 30px;
  max-width: 380px;
  min-width: 30%;
}

#about img {
  max-width: 350px;
  width: 95%;
}

#about p {
  color: #918878;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #6c745e;
}

a:hover {
  text-decoration: underline;
}

h2 {
  margin: 0px;
}

.container {
  padding: 30px;
}

footer {
  border-top: 1px solid #918878;
  padding-top: 5px;
  font-size: 0.8em;
  font-size: 10px;
}

footer p {
  margin: 0px;
  padding: 0px 5px;
}

.posts ul li time {
  padding-left: 20px;
}

.post img {
  max-width: 100%;
}
