body {
  width: 100%;
  background-color: #e5decd;
  color: #918878;
  margin: 0px;
}

#hero {
  background-image: url("/assets/CHSDM-103280_02-000001.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 50vh;
  background-attachment: fixed;
}

#hero h1 {
  padding: 0px 30px;
  position: absolute;
  top: 2vh;
  color: cadetblue;
  white-space: nowrap;
  overflow: hidden;
}

#hero ul {
  list-style-type: none;
  display: flex;
  padding-left: 20px;
}

#hero li {
  padding: 10px;
}

#hero a {
  border: solid 1px cadetblue;
  color: cadetblue;
  padding: 5px;
  text-decoration: none;
}

#hero a:hover {
  background-color: cadetblue;
  color: #e5decd;
}

.nav {
  position: absolute;
  top: 10vh;
}

h2 {
  margin: 0px;
}

.container {
  padding: 30px;
  min-height: 70vh;
}

.container a {
  text-decoration: none;
  color: #6c745e;
}

.container a:hover {
  text-decoration: underline;
  color: cadetblue;
}

footer {
  border-top: 1px solid #918878;
  padding-top: 5px;
  font-size: 0.8em;
  font-size: 10px;
}

footer p {
  margin: 0px;
  padding: 0px 5px;
}

.posts ul li time {
  padding-left: 20px;
}

.post img {
  max-width: 100%;
}

.page img {
  max-width: 50vh;
}

#signature {
  width: 30vh;
}

#signature img {
  width: 100%;
}
