site: Millisande Blog
url: millisande.co.uk
title: Millisande Reviews Games
description: A blog for reviewing games Millisande likes
twitter: 
  username: millisande
  card: summary
  creator: millisande
author:
  twitter: millisande
  name: Millisande
  email: millisande
  url: millisande.co.uk
permalink: pretty

baseurl: ""

exclude:
  - .jekyll-cache

plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap  

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:year/:month/:day/:slug

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"